{% extends 'layout/base.html.twig' %}

{% block title %} Contact {% endblock %}

{% block body %}
<div class="gtco-section">
    <div class="gtco-container"> 
        <div class="row">
            <div class="col-md-6">
                <form action="#">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name">
                    </div>
                    <div class="form-group">
                        <label for="name">Email</label>
                        <input type="text" class="form-control" id="email">
                    </div>
                    <div class="form-group">
                        <label for="message"></label>
                        <textarea name="" id="message" cols="30" rows="10" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn btn-special" value="Send Message">
                    </div>
                </form>
            </div>
            <div class="col-md-5 col-md-push-1">
                <div class="gtco-contact-info">
                    <h3>Our Address</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <ul >
                        <li class="address">198 West 21th Street, Suite 721 New York NY 10016</li>
                        <li class="phone"><a href="tel://1234567890">1235 2355 980</a></li>
                        <li class="email"><a href="#">info@yoursite.com</a></li>
                        <li class="url"><a href="#">www.yoursite.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END Contact -->

<div id="map"></div>



<div class="gtco-section gto-features">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-4">
                <div class="feature-left">
                    <i class="ti-zip icon"></i>
                    <div class="copy">
                        <h3>Architect</h3>
                        <p>Lorem ipsum dolor sit ameteista, consectetur adipiscing is not elitistaris.</p>
                        <p><a href="#" class="gtco-more">Learn more</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-left">
                    <i class="ti-hummer icon"></i>
                    <div class="copy">
                        <h3>Planning</h3>
                        <p>Lorem ipsum dolor sit ameteista, consectetur adipiscing is not elitistaris.</p>
                        <p><a href="#" class="gtco-more">Learn more</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-left">
                    <i class="ti-plug icon"></i>
                    <div class="copy">
                        <h3>Parks &amp; Events</h3>
                        <p>Lorem ipsum dolor sit ameteista, consectetur adipiscing is not elitistaris.</p>
                        <p><a href="#" class="gtco-more">Learn more</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
