{% extends 'layout/base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Accueil</h1>  

 

    <div class="gtco-section">
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 gtco-heading text-center">
                    <h2>Bienvenue</h2>
                    <p>Ivoire-Café-Cacao est une structure de import-export qui se charge de .</p>
                </div>
            </div>
            <div class="row">

                <div class="col-md-12">
                    <div class="owl-carousel owl-carousel-carousel">
                        <div class="item">
                            <div class="gtco-item">
                                <a href="#"><img src="images/img_1.jpg" alt="" class="img-responsive"></a>
                                <h2><a href="#">New York Arena</h2></a>
                                <p class="role">New York</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="gtco-item">
                                <a href="#"><img src="images/img_2.jpg" alt="" class="img-responsive"></a>
                                <h2><a href="#">Eagle Park</h2></a>
                                <p class="role">London</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="gtco-item">
                                <a href="#"><img src="images/img_3.jpg" alt="" class="img-responsive"></a>
                                <h2><a href="#">Nationals Park</h2></a>
                                <p class="role">Paris, France</p>
                            </div>
                        </div>

                        <div class="item">
                            <div class="gtco-item">
                                <a href="#"><img src="images/img_1.jpg" alt="" class="img-responsive"></a>
                                <h2><a href="#">New York Arena</h2></a>
                                <p class="role">New York</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="gtco-item">
                                <a href="#"><img src="images/img_2.jpg" alt="" class="img-responsive"></a>
                                <h2><a href="#">Eagle Park</h2></a>
                                <p class="role">London</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="gtco-item">
                                <a href="#"><img src="images/img_3.jpg" alt="" class="img-responsive"></a>
                                <h2><a href="#">Nationals Park</h2></a>
                                <p class="role">Paris, France</p>
                            </div>
                        </div>

                        <div class="item">
                            <div class="gtco-item">
                                <a href="#"><img src="images/img_1.jpg" alt="" class="img-responsive"></a>
                                <h2><a href="#">New York Arena</h2></a>
                                <p class="role">New York</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="gtco-item">
                                <a href="#"><img src="images/img_2.jpg" alt="" class="img-responsive"></a>
                                <h2><a href="#">Eagle Park</h2></a>
                                <p class="role">London</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="gtco-item">
                                <a href="#"><img src="images/img_3.jpg" alt="" class="img-responsive"></a>
                                <h2><a href="#">Nationals Park</h2></a>
                                <p class="role">Paris, France</p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- END Work -->

    <div class="gtco-section">
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-6 gtco-news">
                    <h2>News</h2>	
                    <ul>
                        <li>
                            <a href="#">
                                <span class="post-date">September 10, 2016</span>
                                <h3>Manila Bridge Re-construction</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat enim et urna sagittis, rhoncus euismod...</p>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <span class="post-date">September 10, 2016</span>
                                <h3>Manila Bridge Re-construction</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat enim et urna sagittis, rhoncus euismod...</p>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <span class="post-date">September 10, 2016</span>
                                <h3>Manila Bridge Re-construction</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat enim et urna sagittis, rhoncus euismod...</p>
                            </a>
                        </li>
                    </ul>
                    <p><a href="#" class="btn btn-sm btn-special">More News</a></p>
                </div>
                <!-- END News -->
                <div class="col-md-5 col-md-push-1 gtco-testimonials">
                    <h2>Testimonials</h2>
                    <blockquote>
                        <p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat enim et urna sagittis, rhoncus euismod erat tincidunt. Donec tincidunt volutpat erat.&ldquo;</p>
                        <p class="author"><cite>&mdash; John Doe Dueller</cite></p>
                    </blockquote>
                    <blockquote>
                        <p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat enim et urna sagittis, rhoncus euismod erat tincidunt. Donec tincidunt volutpat erat.&ldquo;</p>
                        <p class="author"><cite>&mdash; John Doe Dueller</cite></p>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    <!-- END  -->


{% endblock %}
