


<footer id="gtco-footer" class="gtco-section" role="contentinfo">
    <div class="gtco-container">
        <div class="row row-pb-md">
            <div class="col-md-4 gtco-widget gtco-footer-paragraph">
                <h3>Ivoire-Café-Cacao</h3>
                <p>Import-export de Café & Cacao partout dans le monde.</p>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-6 gtco-footer-link">
                        <h3>Liens</h3>
                        <ul class="gtco-list-link">
                            <li><a href="#">Accueil</a></li>
                            <li><a href="#">Features</a></li>
                            <li><a href="#">Products</a></li>
                            <li><a href="#">Testimonial</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 gtco-footer-link">
                        <h3>Unité</h3>
                        <ul class="gtco-list-link">
                            <li><a href="#">New York Arena</a></li>
                            <li><a href="#">Eagle Park</a></li>
                            <li><a href="#">Nationals Park</a></li>
                            <li><a href="#">Manila Park</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 gtco-footer-subscribe">
                <form class="form-inline">
                  <div class="form-group">
                    <label class="sr-only" for="exampleInputEmail3">Adresse Email</label>
                    <input type="email" class="form-control" id="" placeholder="Email">
                  </div>
                  <button type="submit" class="btn btn-primary">Envoyer</button>
                </form>
            </div>
        </div>
    </div>
    <div class="gtco-copyright">
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-6 text-left">
                    <p><small>&copy; 2022 ARTHUR ABOA copyright |[]. </small></p>
                </div> 
            </div>
        </div>
    </div>
</footer>
<!-- END footer -->