



<nav class="gtco-nav" role="navigation">
    <div class="gtco-container">
        
        <div class="row">
            <div class="col-sm-2 col-xs-12">
                <div id="gtco-logo"><a href="index.html"> h Ivoire Café-Cacao</div>
            </div>
            <div class="col-xs-10 text-right menu-1">
                <ul>
                    <li class="active"><a href="index.html">Accueil</a></li>
                    <li><a href="about.html">A-propos</a></li>
                    <li class="has-dropdown">
                        <a href="services.html">Services</a>
                        <ul class="dropdown">
                            <li><a href="#">Import</a></li>
                            <li><a href="#">Export</a></li>
                            <li><a href="#">Autres</a></li> 
                        </ul>
                    </li> 
                    <li><a href="portfolio.html">Partenaire</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="login.html">Connexion</a></li>
                </ul>
            </div>
        </div>
        
    </div>
</nav>