



<nav class="gtco-nav" role="navigation">
    <div class="gtco-container">
        
        <div class="row">
            <div class="col-sm-2 col-xs-12">
                <div id="gtco-logo"><a href=""> <h5>Ivoire Café-Cacao</h5></div>
            </div>
            <div class="col-xs-10 text-right menu-1">
                <ul>
                    <li class="active"a href="">Accueil</a></li>
                    <li><a href="news">A-propos</a></li>
                    <li class="has-dropdown">
                        <a href="services">Services</a>
                        <ul class="dropdown">
                            <li><a href="#">Import</a></li>
                            <li><a href="#">Export</a></li>
                            <li><a href="#">Autres</a></li> 
                        </ul>
                    </li> 
                    <li><a href="portfolio">Partenaire</a></li>
                    <li><a href="contact">Contact</a></li>
                    <li><a href="login">Connexion</a></li>
                </ul>
            </div>
        </div>
        
    </div>
</nav>